* {
  box-sizing: border-box;
}

.contact-list {
  background-color: #cfe1e7;
  padding: 5px;
  border-radius: 10px;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}

.contact {
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 0 15px #446d8059;
  padding: 20px;
  margin: 15px;
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-basis: fit-content;

}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #6995a959;
}

.info {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-basis: 3;


}



.info p {
  font-size: 22px;

}

.buttons {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 100;
}

.call,
.message {
  width: 30px;
}

/* ----Tvoje styly----- */
